<!--

wyłuskanie pozycji:	216   var path = [marker1.getPosition(), marker2.getPosition()]; Treść komentarza 

-->



{% extends 'szybowce/base.html' %}

{% block content %}

<!--	formularz do bazy danych	
	<input id='start_lat' type="textbox" value="23.01">

-->

  <center>  <h2>Nowa trasa lotu</h2></center>
<br>Kąt(test): <input type="text" readonly id="heading"> 
     
<button onclick="addCityToForm()">Click me</button>
     <center><div id="map" style="width:80%;height: 100%;margin: 20px"></div></center>



<!--
<p><label for="id_positions0">Punkt startowy:</label>
      <input type="text" name="positions0" id="id_positions0" value=" " /></p>
  <p><label for="id_positions1">Punkt 2:</label>
      <input type="text" name="positions1" id="id_positions1" value=" " /></p>
  <p><label for="id_positions2">Punkt 3:</label>
      <input type="text" name="positions2" id="id_positions2" value=" " /></p>
  <p><label for="id_positions3">Punkt 3:</label>
      <input type="text" name="positions3" id="id_positions3" value=" " /></p>
  <p><label for="id_positions4">Punkt 3:</label>
      <input type="text" name="positions4" id="id_positions4" value=" " /></p>
  <p><label for="id_positions5">Punkt 3:</label>
     <input type="text" name="positions5" id="id_positions5" value=" " /></p>
  <p><label for="id_positions6">Punkt 3:</label>
      <input type="text" name="positions6" id="id_positions6" value=" " /></p>
<p><label for="address">Wpisz kod lotniska/nazwe miejscowości:</label></p>
<form  class="rs" id="ds">
-->
    <input id="address" type="textbox" value="EPZP">
       <input id="find" type="button" value="Znajdź"></p>
</form>




<div id = "leftPanel">
    <form method="POST" class="route-form" id="route">{% csrf_token %}
        <h2>Współrzędne lotu</h2>
	<p><label for="id_title">Tytuł:</label>
	    <input id="id_title" type="text" name="title" maxlength="" /></p>
	<p id="ppos1"><label for="id_position1">Punkt startowy:</label>
	    <input type="text" name="position1" id="id_position1" value=" " /></p>
	<p id="ppos2"><label for="id_position2">Punkt 2:</label>
	    <input type="text" name="position2" id="id_position2" value=" " /></p>
	<p id="ppos3"><label for="id_position3">Punkt 3:</label>
	    <input type="text" name="position3" id="id_position3" value=" " /></p>
	<p id="ppos4"><label for="id_position4">Punkt 4:</label>
	    <input type="text" name="position4" id="id_position4" value=" " /></p>
	<p id="ppos5"><label for="id_position5">Punkt 5:</label>
	    <input type="text" name="position5" id="id_position5" value=" " /></p>
	<p id="ppos6"><label for="id_position6">Punkt 6:</label>
	    <input type="text" name="position6" id="id_position6" value=" " /></p>
	<p id="ppos7"><label for="id_position7">Punkt 7:</label>
	    <input type="text" name="position7" id="id_position7" value=" " /></p>
	<p id="ppos8"><label for="id_position8">Punkt 8:</label>
	    <input type="text" name="position8" id="id_position8" value=" " /></p>
	<p id="ppos9"><label for="id_position9">Punkt 9:</label>
	    <input type="text" name="position9" id="id_position9" value=" " /></p>
	<p id="ppos10"><label for="id_position10">Punkt końcowy:</label>
	    <input type="text" name="position10" id="id_position10" value=" " /></p>
  <p><label for="id_heading">Kąt lotu:</label>
	    <input type="text" name="heading" id="id_heading" value=" " /></p>

<!-- Dodanie suwaków z predkoscia oraz z katem lotu i katem wiatru -->
   Prędkośc wiatru: <input type="range" id="myWindRange" min="0" max="50" step="1"  value="0" onclick="valueFromWindSlider()">   
  <p><label for="id_wind_speed"></label>
      <input type="text" name="wind_speed" id="id_wind_speed" value=" " /></p>

  Kąt wiatru <input type="range" id="myWindAngleRange" min="0" max="360" step="1"  value="50">
  <p><label for="id_wind_angle"></label>
      <input type="text" name="wind_angle" id="id_wind_angle" value=" " /></p>

      
  Prędkośc samolotu: <input type="range" id="mySpeedRange" min="50" max="200" step="1"  value="50" onclick="valueFromSpeedSlider()">

  <p><label for="id_plane_speed"></label>
      <input type="text" name="plane_speed" id="id_plane_speed" value=" " /></p>

	<button type="submit" class="save btn btn-default">Dodaj</button>	

    </form>
    </div>


<!-- Dodanie formularza z kątami lotów pomiedzy kolejnymi punktami DODAC FORMULARZ PYTHONA -->
<div id = "centerPanel">
    <form method="POST" class="route-form" id="route">{% csrf_token %}
    <h2>Kąty lotu</h2>
  <p id="pangle0" display=" none"><label for="id_angle1">Kąt lotu:</label>
      <input id="id_angle1" type="text" name="title" maxlength="" /></p>
  <p id="pangle1"><label for="id_angle2">Kąt lotu:</label>
      <input id="id_angle2" type="text" name="title" maxlength="" /></p>
  <p id="pangle2"><label for="id_angle3">Kąt lotu:</label>
      <input id="id_angle3" type="text" name="title" maxlength="" /></p>
  <p id="pangle3"><label for="id_angle4">Kąt lotu:</label>
      <input id="id_angle4" type="text" name="title" maxlength="" /></p>
  <p id="pangle4"><label for="id_angle5">Kąt lotu:</label>
      <input id="id_angle5" type="text" name="title" maxlength="" /></p>
  <p id="pangle5"><label for="id_angle6">Kąt lotu:</label>
      <input id="id_angle6" type="text" name="title" maxlength="" /></p>
  <p id="pangle6"><label for="id_angle7">Kąt lotu:</label>
      <input id="id_angle7" type="text" name="title" maxlength="" /></p>
  <p id="pangle7"><label for="id_angle8">Kąt lotu:</label>
      <input id="id_angle8" type="text" name="title" maxlength="" /></p>
  <p id="pangle8"><label for="id_angle9">Kąt lotu:</label>       
      <input id="id_angle9" type="text" name="title" maxlength="" /></p>
    
   </form>
    </div>


<!-- Prawy panel dodac predkosci/kat itd -->
<div id = "rightPanel">
     <form method="POST" class="route-form" id="route2">{% csrf_token %}
  
   Prędkośc wiatru: <input type="range" id="myWindRange" min="0" max="50" step="1"  value="0" onclick="valueFromWindSlider()">   

  <p><label for="id_wind_speed"></label>
      <input type="text" name="wind_speed" id="id_wind_speed" value=" " valueFromWindAngleSlider() /></p>

    Prędkośc samolotu: <input type="range" id="mySpeedRange" min="50" max="200" step="1"  value="50" onclick="valueFromSpeedSlider()">

  <p><label for="id_plane_speed"></label>
      <input type="text" name="plane_speed" id="id_plane_speed" value=" " /></p>
    
   </form>
    </div>


   
<!--	skrypt Pawła	
   
    <div id="title"><h1>MAPA VFR</h1></div>
  

   <div id="floating-panel">
       <input id="address" type="textbox" value="EPZP">
       <br><input id="submit" type="button" value="Geocode">

    </div>
     </div> 
--> 


<!-- Biblioteka JQuary-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <script>
      var marker1, marker2;
       var poly, geodesicPoly;
                 var markers = [];
                 var polyTable = [];
                 var tableOfPaths= [];
                 var distanceBetweenPoints = [];
                 var headings=[];
                 var tableOfCities =[];
                 var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
          var labelIndex = 0;


       function initMap() {

         var map = new google.maps.Map(document.getElementById('map'), {
           zoom: 6,
           center: {lat: 52, lng: 19 }
         });
                   document.getElementById('find').addEventListener('click', function() {
                         console.log("jestem");
                         var geocoder = new google.maps.Geocoder();
                 geocodeAddress(geocoder, map);

         });

          map.controls[google.maps.ControlPosition.TOP_CENTER].push(
             document.getElementById('info'));

   map.addListener('click', function(e) {
         placeMarkerAndPanTo(e.latLng, map);
        tableOfPaths.push(createNewPath(map));

         });


          marker1 = new google.maps.Marker({
           map: map,
           draggable: true,
           position: {lat: 52.41, lng: 16.92}
         });

         marker2 = new google.maps.Marker({
           map: map,
           draggable: true,
           position: {lat: 52.2340, lng: 21.0287}
         });

         var bounds = new google.maps.LatLngBounds(
             marker1.getPosition(), marker2.getPosition());
         map.fitBounds(bounds);

         google.maps.event.addListener(marker1, 'position_changed', update);
         google.maps.event.addListener(marker2, 'position_changed', update);
         google.maps.event.addDomListener(window, 'load', initialize);

         poly = new google.maps.Polyline({
           strokeColor: '#FF0000',
           strokeOpacity: 1.0,
           strokeWeight: 3,
           map: map,
         });

         geodesicPoly = new google.maps.Polyline({   strokeColor: '#CC0099',
         strokeOpacity: 1.0,   strokeWeight: 3,   geodesic: true,   map: map
         });

         polyTable[0] = new google.maps.Polyline({
           strokeColor: '#FF0000',
           strokeOpacity: 1.0,
           strokeWeight: 3,
           map: map,
         });

         geodesicPoly2 = new google.maps.Polyline({
           strokeColor: '#CC0099',
           strokeOpacity: 1.0,
           strokeWeight: 3,
           geodesic: true,
           map: map
         });
          ///// Usuwanie paragrafów //
          document.getElementById("pangle0").style.visibility = "hidden";
          for(var i = 2;i<11;i++){
            hideParagrafs(i);
           
            }

        update();
       }
          function createNewPath(map){

                 polyPath = new google.maps.Polyline({
                 strokeColor: '#FF0000',
           strokeOpacity: 1.0,
           strokeWeight: 3,
            map : map,
         });
                 return polyPath;
          }


         function placeMarkerAndPanTo(latLng, map) {
           var marker = new google.maps.Marker({
           position: latLng,
           map: map,
           draggable: true,
           label: labels[labelIndex++ % labels.length]
         });
         markers.push(marker);


       //  var dummy = '<span>Dystans:'+labelIndex +' <input type="text"><small>(ft)</small></span>\r\n';
                 //document.getElementById('floating-panel').innerHTML += dummy;

                google.maps.event.addListener(marker, 'position_changed', update);
                google.maps.event.addListener(map,'click', update);

/////



///


                addCityToForm(marker);
                addElement(markers.length,marker);
              

        }

         function addPoint(marker){
         markers.push(marker);
                 google.maps.event.addListener(marker, 'position_changed', update);
                 google.maps.event.addListener(map,'mouseover', update);
                 addElement(markers.length,marker);

                 
         }


         function distance(point1,point2,i){

                 var distance = google.maps.geometry.spherical.computeDistanceBetween(point1, point2)/ 1000;
                 distanceBetweenPoints[i]= Round(distance,2);
                 return distance;
         }
         // Szukaj miejscowowci po kodzie np. EPZP/Poznan
         function geocodeAddress(geocoder, resultsMap) {
         var address = document.getElementById('address').value;

         geocoder.geocode({'address': address}, function(results, status) {
           if (status === 'OK') {
             resultsMap.setCenter(results[0].geometry.location);

              var marker = new google.maps.Marker({
               map: resultsMap,
               position: results[0].geometry.location,
                draggable: true,
               label: labels[labelIndex++ % labels.length]
             });
                         //console.log(results[0].geometry.location);
            // placeMarkerAndPanTo(results[0].geometry.location,resultsMap);
             //tableOfPaths.push(createNewPath(resultsMap));
             addPoint(marker);
             tableOfPaths.push(createNewPath(resultsMap));
           } else {
             alert('Geocode was not successful for the following reason: ' + status);
           }
         });

     }



   

// Zaokraglanie liczby 
 function Round(n, k)
 {
     var factor = Math.pow(10, k);
     return Math.round(n*factor)/factor;
 }

//Chowanie punktow wspolrzednych oraz katow
function hideParagrafs(number){

    $("#ppos"+number).hide();
    $("#pangle"+number).hide();
  }


//"Pokazywanie" punktow wspolrzednych oraz katow
function showParagraf(number){
    $("#ppos"+number).show();
   $("#pangle"+number).show();
}


function update() {
 
         var paths = [];
         var path = [marker1.getPosition(), marker2.getPosition()];
         if(markers!=""){
         var lat = markers[0].getPosition();

         
         for(var i = 1;i<markers.length;i++){
                // console.log("Pozycja pierwszego " +i);
                 paths[i]=[markers[i-1].getPosition(),markers[i].getPosition()];
                 tableOfPaths[i].setPath(paths[i]);
                 distance(markers[i-1].getPosition(),markers[i].getPosition(),i);
                 // codeLatLng(markers[i-1].position.lat(),markers[i-1].position.lng(),i-1);
                 //document.getElementById('odleglosc'+i).value=distanceBetweenPoints[i];
                              
                document.getElementById('id_position'+i).value= Round(markers[i-1].position.lat(), 2) + " "+Round(markers[i-1].position.lng(), 2)  ;
               //  var nazwa= codeLatLng(markers[i].position.lat(),markers[i].position.lng());

                
         }




          for(var i = 1;i<markers.length;i++){
                 
        //codeLatLng(markers[i-1].position.lat(),markers[i-1].position.lng());
                //   console.log("Miejscowosc" +i +tableOfCities[i])
              }     




// ====Petla odpowiedzialna za wyliczanie kątów w UPDATE + wpisanie ich do formularza
         if(markers.length >1 ){
           for(var i = 1;i<markers.length;i++){
           headings[i] = google.maps.geometry.spherical.computeHeading(markers[i-1].getPosition(),markers[i].getPosition());
           
           }
          for(var i = 1;i<headings.length;i++){
                   addAngle(i);
              }
         }}
///=======================================

  
         poly.setPath(path);
         geodesicPoly.setPath(path);
       //  var heading = google.maps.geometry.spherical.computeHeading(nyc, london);
        var heading = google.maps.geometry.spherical.computeHeading(path[0], path[1]);
       var distanses = google.maps.geometry.spherical.computeDistanceBetween(path[0], path[1])/ 1000;

//	===========================================
//	TUTAJ ZMIENIAM ATRYBUT ID NA TEGO Z PYTHONA
//	===========================================

         //document.getElementById('heading').value = heading;
         //document.getElementById('id_position1').value = path[0].toString();
         //document.getElementById('id_position3').value = path[1].toString();


          //console.log("update");
         //console.log("Distanse"+distanses);
        // console.log("kat"+heading);
          console.log(markers.length);
          showParagraf(markers.length);

       }


/// ================funkcje odpowiedzialne za slidery predkosci samolotu oraz wiatru
function valueFromSpeedSlider(){
     var x = document.getElementById("mySpeedRange");
     var currentVal = x.value;
document.getElementById("id_plane_speed").value = currentVal;
}

function valueFromWindSlider(){
     var x = document.getElementById("myWindRange");
     var currentVal = x.value;
document.getElementById("id_wind_speed").value = currentVal;

} 

function valueFromWindAngleSlider(){
     var x = document.getElementById("myWindAngleRange");
     var currentVal = x.value;
document.getElementById("id_wind_angle").value = currentVal;
///======================================================================
}

//==========funkcje odpowiedzialne za wykrywanie lokalizacji danego obszaru
function initialize() {
  geocoder = new google.maps.Geocoder();
}


//Szukanie miejscowosci po wspolrzednych
function codeLatLng(lat,lng) {
  var latlng = new google.maps.LatLng(lat, lng);
  geocoder.geocode({latLng: latlng}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[1]) {
        var arrAddress = results;
        //console.log(results);
        $.each(arrAddress, function(i, address_component) {
          if (address_component.types[0] == "locality") {
           // console.log("City: " + address_component.address_components[0].long_name);
            itemLocality = address_component.address_components[0].long_name;
            console.log("tutja"+ itemLocality)
            tableOfCities.push(itemLocality);
          }
        });
      } else {
        //alert("No results found");
      }
    } else {
      //alert("Geocoder failed due to: " + status);
    }
  });
}






///============================
  function addElement(number,marker) {
      var z = document.createElement("div");
      z.id=number;
      var x = document.createElement("INPUT");
      var y = document.createElement("INPUT");
      x.id="pozycja"+number;
      y.id="odleglosc"+number;
      var para = document.createElement("P");
      var t = document.createTextNode("Punkt " +number);
      para.appendChild(t);
      x.setAttribute("type", "text");
      x.setAttribute("value", "Hello World!");

     
//================================================================================
     
//  zmiana id 'floating-form' na 'route' -> skojarzone z formularzem pythona

//================================================================================
     //document.getElementById('route').appendChild(z);
     //document.getElementById(number).appendChild(para);
     //document.getElementById(number).appendChild(x);
     //document.getElementById(number).appendChild(y);

     //document.getElementById('floating-panel').appendChild(para);
   //  document.getElementById('floating-panel').appendChild(x);
     //document.getElementById('floating-panel').appendChild(y);


     //document.getElementById('pozycja'+number).value= Round(marker.position.lat(), 2) + " "+Round(marker.position.lng(), 2)  ;
    document.getElementById('id_position'+number).value= Round(marker.position.lat(), 2) + " "+Round(marker.position.lng(), 2)  ;
   //var nazwa= codeLatLng(marker.position.lat(),marker.position.lng());
   //console.log("dadada  " + nazwa);
  //document.getElementById('nazwa').value=codeLatLng(marker.position.lat(),marker.position.lng());
}


// Dodawnaie nazwy do formularza ALENIE DZIALA
function addCityToForm(marker){

var nazwa =codeLatLng(marker.position.lat(),marker.position.lng());


}

// Dodawanie kata do formularza
function addAngle(number) {
  
    document.getElementById('id_angle'+(number+1)).value= Round(headings[number],2);
    if(headings[number]>-180&&headings[number]<0){
     document.getElementById('id_angle'+(number+1)).value= Round(headings[number]+360,2);
    }
}




     </script>





     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk3JKCeEEd6pUmMo27qAw5b1GBnZDU04I&
 libraries=geometry&callback=initMap"
     ></script>
	



{% endblock %}



