.page-header {
    background-color: #b366ff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Philosopher', sans-serif;
/*font-family: 'Walter Turncoat', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Poiret One', cursive;
*/
}

.content {
    margin-left: 30px;
     margin-right:30px;
    width: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
}

h2, h3, h4 {
   font-family: 'Pacifico', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.route-form textarea, .route-form input {
    width: 100%;
}


.weather-form textarea, .weather-form input {
    width: 100%;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.new-plan{
width: 60%;
height: 20%;
float: right;

}
#final{


}
.title{
width: 20%;
height: 20%;
  float: left;
}
.plan-link{
color: #ffffff;
    
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 26pt;
    margin-right: 20px;
}

.route {
    margin-bottom: 70px;
}

.route h1 a, .route h1 a:visited {
    color: #000000;
}


.map {
   height: 60%;
   width: 100%;
    margin: 10px;
 }

#leftPanel {

   height: 100%;
   width: 25%;
   float: left;
   margin-left: 5px;
 }
 #centerPanel {

   height: 100%;
   width: 30%;
   float: left;
   margin-left: 10px;
 }
 #rightPanel {

   height: 100%;
   width: 30%;
   float: left;
   margin-left: 10px;
 }


#serachPanel {
   position: relative;
   height: 50%;
   width: 100%;
  }

input{
   color: red;
   font: 13px sans-serif;
 }

 /* Optional: Makes the sample page fill the window. */
 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
