
{% load staticfiles %}
<html>
    <head>
        <title>MAPA VFR</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Philosopher|Poiret+One|Walter+Turncoat" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/szybowce.css' %}">
    </head>
    <body>

    <div class="page-header">
	    {% if user.is_authenticated %} 
	   	<div class ="new-plan">
		<a href="{% url 'route_new' %}" class="top-menu"><h3>NOWA TRASA <span class="glyphicon glyphicon-globe"></span></h3></a>
	    	</div>
		<p><h3>Witaj {{ user.username }}, <a href="{% url 'logout' %}">wyloguj się.</a></h3></p>
	    {% else %}
	    <a href="{% url 'login' %}" class="top-menu"><h3>Zaloguj się</h3></a>
	    {% endif %}
	    <div id="title"><h1><a href="/">MAPA VFR</a></h1></div>
      
    </div>


    
    
    <div class="content container">
        <div class="row">
          
            {% block content %}
            {% endblock %}
           
        </div>
    </div> 

    </body>
    
    <footer>
	    <div class="line">
	<p>ppszybowce &copy</p>
	    </div>
	    <div class="line">
	<p>Masz pytania? Napisz do nas: <a href="mailto:ppszybowce@gmail.com">ppszybowce@gmail.com</a></p>
	    </div>
    </footer>
</html>
