
{% extends 'szybowce/base.html' %}

{% block content %}
{% load first %}

    <div class="route">
        {% if route.published_date %}
            <div class="date">
                {{ route.published_date }}
            </div>
        {% endif %}
	{% if user.is_authenticated %}
	<a class="btn btn-default" href="{% url 'route_remove' pk=route.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	{% endif %}
	<div id="final">
	<h1><p> {{ route.title }}</h1></p>
	<h3> Nastawy </h3>	
	<p>Predkosc wiatru {{ route.wind_speed|linebreaksbr }} [knots]</p>
	<p>Predkosc samolotu {{ route.plane_speed|linebreaksbr }} [knots]</p>
	<p>Kąt wiatru {{ route.wind_angle|linebreaksbr }} [*]</p>
        <p>Kąt znoszenia {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed }} [*]</p>
	<table class=detail>
	  <tr>
	    <th>Trasa</th>
	    <th>Odległość [km]</th>
	    <th>Czas [h]</th>
	    <th>Prędkość podróżna [knots]</th>
	    <th>Kąt magnetyczny [*]</th>
	  </tr>
	  <tr>
	    	<td><p>{{ route.position1|gps_name }}</p>
		    <p>{{ route.position2|gps_name }}</p></td>
	    	<td><p> {{ route.position1|calc_dist:route.position2 }} </p></td>
	    	<td><p> {{ route.wind_angle|angle_add:route.heading1|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position1|time2:route.position2}} </p></td>
		<td><p> {{ route.wind_angle|angle_add:route.heading1|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
		<td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading1 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position2|gps_name }}</p>
		<p> {{ route.position3|gps_name }}</p></td>
	    <td><p> {{ route.position2|calc_dist:route.position3 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading2|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position2|time2:route.position3}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading2|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading2 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position3|gps_name }}</p>
		<p> {{ route.position4|gps_name }}</p></td>
	    <td><p> {{ route.position3|calc_dist:route.position4 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading3|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position3|time2:route.position4}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading3|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading3 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position4|gps_name }}</p>
		<p> {{ route.position5|gps_name }}</p></td>
	    <td><p> {{ route.position4|calc_dist:route.position5 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading4|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position4|time2:route.position5}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading4|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading4 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position5|gps_name }}</p>
		<p> {{ route.position6|gps_name }}</p></td>
	    <td><p> {{ route.position5|calc_dist:route.position6 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading5|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position5|time2:route.position6}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading5|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading5 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position6|gps_name }}</p>
		<p> {{ route.position7|gps_name }}</p></td>
	    <td><p> {{ route.position6|calc_dist:route.position7 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading6|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position6|time2:route.position7}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading6|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading6 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position7|gps_name }}</p>
		<p> {{ route.position8|gps_name }}</p></td>
	    <td><p> {{ route.position7|calc_dist:route.position8 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading7|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position7|time2:route.position8}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading7|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading7 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position8|gps_name }}</p>
		<p> {{ route.position9|gps_name }}</p></td>
	    <td><p> {{ route.position8|calc_dist:route.position9 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading8|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position8|time2:route.position9}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading8|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading8 }} </p></td>
	  </tr>
	  <tr>
	    <td><p> {{ route.position9|gps_name }}</p>
		<p> {{ route.position10|gps_name }}</p></td>
	    <td><p> {{ route.position9|calc_dist:route.position10 }} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading9|ground_speed2:route.wind_speed|ground_speed:route.plane_speed|time1:route.position9|time2:route.position10}} </p></td>
	    <td><p> {{ route.wind_angle|angle_add:route.heading9|ground_speed2:route.wind_speed|ground_speed:route.plane_speed }} </p></td>
	    <td><p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading9 }} </p></td>
	  </tr>
	</table>

	</div>
	<h1><a href="{% url 'pdf_gen' pk=route.pk %}">Pobierz plik pdf</a></h1>
</div>



{% endblock %}



