
{% extends 'szybowce/base.html' %}

{% block content %}
{% load first %}

    <div class="route">
        {% if route.published_date %}
            <div class="date">
                {{ route.published_date }}
            </div>
        {% endif %}
	<a class="btn btn-default" href="{% url 'route_edit' pk=route.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	<div id="final">
	<h1><p> Tytuł trasy: {{ route.title }}</h1></p>
	<h3> Punkty wraz z kątami </h3>
	<p> {{ route.position1|linebreaksbr }} {{ route.heading1|linebreaksbr }}</p>
	<p> {{ route.position2|linebreaksbr }} {{ route.heading2|linebreaksbr }}</p>
	<p> {{ route.position3|linebreaksbr }} {{ route.heading3|linebreaksbr }}</p>
	<p> {{ route.position4|linebreaksbr }} {{ route.heading4|linebreaksbr }}</p>
	<p> {{ route.position5|linebreaksbr }} {{ route.heading5|linebreaksbr }}</p>
	<p> {{ route.position6|linebreaksbr }} {{ route.heading6|linebreaksbr }}</p>
	<p> {{ route.position7|linebreaksbr }} {{ route.heading7|linebreaksbr }}</p>
	<p> {{ route.position8|linebreaksbr }} {{ route.heading8|linebreaksbr }}</p>
	<p> {{ route.position9|linebreaksbr }} {{ route.heading9|linebreaksbr }}</p>
	<p> {{ route.position10|linebreaksbr }}</p>
	
	<h3> Nastawy </h3>	
	<p>predkosc wiatru: {{ route.wind_speed|linebreaksbr }}</p>
	<p>Predkosc samolotu: {{ route.plane_speed|linebreaksbr }}</p>
	<p>kat wiatru: {{ route.wind_angle|linebreaksbr }}</p>
	
	<h3> Obliczenia wspólne </h3>
        <p> prędkość podróżna: {{ route.wind_speed|ground_speed2:route.wind_angle|ground_speed:route.plane_speed }} </p>
        <p> kąt znoszenia: {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed }} </p>
	
	<h3>Kąty magnetyczne</h3>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading1 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading2 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading3 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading4 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading5 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading6 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading7 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading8 }} </p>
        <p> {{ route.wind_angle|angle_z2:route.plane_speed|angle_z:route.wind_speed|angle_m:route.heading9 }} </p>

	</div>


<button><a href="javascript:genPDF()">Download PDF</a></button>
</div>


<script type="text/javascript" src= "jspdf.min.js"></script>

<script type="text/javascript">
	
function genPDF() {
	
	var doc = new jsPDF();
	
	doc.text(20,20,'TEST Message!!');
	doc.addPage();
	doc.text(20,20,'TEST Page 2!');
	doc.save('Test.pdf');
	
}
</script>

<a href="javascript:genPDF()">Download PDF</a>


<script type="text/javascript" src= "jspdf.min.js"></script>
<script type="text/javascript">
	
function genPDF() {
	
	var doc = new jsPDF();
	
	doc.text(20,20,'TEST Message!!');
	doc.addPage();
	doc.text(20,20,'TEST Page 2!');
	doc.save('Test.pdf');
	
}


</script>

{% endblock %}



