{% extends 'szybowce/base.html' %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <hr/> <center>  <h2>Nowa trasa lotu</h2></center> <hr/>

     <center><div id="map" style="width:80%;height: 100%;margin: 20px"></div></center>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>


<hr/>
    <center><label>Znajdz lotnisko po kodzie: <input id="address" type="textbox" value="EPZP">
       <input id="find" type="button" value="Znajdź"><i class="fa fa-search"></i></label></center><br>

</form>

<div id="panelBoczny">
 
    <div id="titleW">
        Sprawdz pogode!
    </div>
      
    <div id="content">
         <iframe width="630" height="420" src="https://embed.windy.com/embed2.html?lat=51.822&lon=20.061&zoom=6&level=surface&overlay=wind&menu=true&message=&marker=true&forecast=12&calendar=now&location=coordinates&type=map&actualGrid=&metricWind=kt&metricTemp=%C2%B0C" frameborder="0"></iframe>
    </div>
 
</div>


<form method="POST" class="route-form" id="route">{% csrf_token %}
    <div>
   <hr/><center><p><label for="id_title">Tytuł Twojej trasy:</label>
    <input id="id_title" type="text" name="title" maxlength="" /></p></center> 
    </div><hr/>


<div id ="left">
    <div id = "leftPanel">
  <center><h2>Współrzędne lotu</h2></center><hr>
  <p id="ppos1"><label for="id_position1">Punkt startowy:</label>
      <input type="text" name="position1" id="id_position1" value="" /></p>
  <p id="ppos2"><label for="id_position2">Punkt 2:</label>
      <input type="text" name="position2" id="id_position2" value="" /></p>
  <p id="ppos3"><label for="id_position3">Punkt 3:</label>
      <input type="text" name="position3" id="id_position3" value="" /></p>
  <p id="ppos4"><label for="id_position4">Punkt 4:</label>
      <input type="text" name="position4" id="id_position4" value="" /></p>
  <p id="ppos5"><label for="id_position5">Punkt 5:</label>
      <input type="text" name="position5" id="id_position5" value="" /></p>
  <p id="ppos6"><label for="id_position6">Punkt 6:</label>
      <input type="text" name="position6" id="id_position6" value="" /></p>
  <p id="ppos7"><label for="id_position7">Punkt 7:</label>
      <input type="text" name="position7" id="id_position7" value="" /></p>
  <p id="ppos8"><label for="id_position8">Punkt 8:</label>
      <input type="text" name="position8" id="id_position8" value="" /></p>
  <p id="ppos9"><label for="id_position9">Punkt 9:</label>
      <input type="text" name="position9" id="id_position9" value="" /></p>
  <p id="ppos10"><label for="id_position10">Punkt końcowy:</label>
      <input type="text" name="position10" id="id_position10" value="" /></p>
    
    </div>

    <div id = "centerPanel">

      <center><h2>Kąty lotu</h2></center><hr>
    <p id="pangle1"><label for="id_angle1">Kąt lotu 1:</label>
          <input type="text" name="heading1" id="id_angle1" value="" /></p>
    <p id="pangle2"><label for="id_angle2">Kąt lotu 2:</label>
          <input id="id_angle2" type="text" name="heading2" maxlength="" /></p>
  <p id="pangle3"><label for="id_angle3">Kąt lotu 3:</label>
          <input id="id_angle3" type="text" name="heading3" maxlength="" /></p>
  <p id="pangle4"><label for="id_angle4">Kąt lotu 4:</label>
          <input id="id_angle4" type="text" name="heading4" maxlength="" /></p>
  <p id="pangle5"><label for="id_angle5">Kąt lotu 5:</label>
          <input id="id_angle5" type="text" name="heading5" maxlength="" /></p>
  <p id="pangle6"><label for="id_angle6">Kąt lotu 6:</label>
          <input id="id_angle6" type="text" name="heading6" maxlength="" /></p>
  <p id="pangle7"><label for="id_angle7">Kąt lotu 7:</label>
          <input id="id_angle7" type="text" name="heading7" maxlength="" /></p>
  <p id="pangle8"><label for="id_angle8">Kąt lotu 8:</label>
          <input id="id_angle8" type="text" name="heading8" maxlength="" /></p>
  <p id="pangle9"><label for="id_angle9">Kąt lotu 9:</label>       
          <input id="id_angle9" type="text" name="heading9" maxlength="" /></p>
    </div>
</div>
 
   <div id = "rightPanel">
  <center><h2>Nastawy</h2></center> <hr>     
    <p><label for="id_wind_speed">Prędkośc wiatru (knots/s):</label>
    <input type="range" id="myWindRange" min="0" max="50" step="1"  value="0" onclick="valueFromWindSlider()"> 
        <input type="text" name="wind_speed" id="id_wind_speed" value=" " /></p>
<p><label for="id_wind_angle">Kąt wiatru : </label>
    <input type="range" id="myWindAngleRange" min="0" max="360" step="1"  value="50"  onclick="valueFromWindAngleSlider()">
    
        <input type="text" name="wind_angle" id="id_wind_angle" value=" " /></p>

    <p><label for="id_plane_speed">Prędkośc samolotu (knots) :</label>
     <input type="range" id="mySpeedRange" min="50" max="200" step="1"  value="50" onclick="valueFromSpeedSlider()">
        <input type="text" name="plane_speed" id="id_plane_speed" value=" " /></p>
<center><button type="submit" id="submitButton"><i class="fa fa-plane"></i> Dodaj TRASE</button></center>

  {{ form.errors }}
    </div>
   
    </form>

<!-- Biblioteka JQuary-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <script>

                  var marker1, marker2;
                 var poly, geodesicPoly;
                 var markers = [];
                 var polyTable = [];
                 var tableOfPaths= [];
                 var distanceBetweenPoints = [];
                 var headings=[];
                 var tableOfCities =[];
                 var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                  var labelIndex = 0;


       function initMap() {

         var map = new google.maps.Map(document.getElementById('map'), {
           zoom: 6,
           center: {lat: 52, lng: 19 }
         });
                   document.getElementById('find').addEventListener('click', function() {
                      var geocoder = new google.maps.Geocoder();
                      geocodeAddress(geocoder, map);
                      showParagraf(markers.length+1);




         });

          map.controls[google.maps.ControlPosition.TOP_CENTER].push(
             document.getElementById('info'));

        map.addListener('click', function(e) {
         placeMarkerAndPanTo(e.latLng, map);
        tableOfPaths.push(createNewPath(map));

         });
         map.addListener('projection_changed', function(e) {
         //placeMarkerAndPanTo(e.latLng, map);
        tableOfPaths.push(createNewPath(map));

         });  


         google.maps.event.addDomListener(window, 'load', initialize);

         poly = new google.maps.Polyline({
           strokeColor: '#FF0000',
           strokeOpacity: 1.0,
           strokeWeight: 3,
           map: map,
         });

         geodesicPoly = new google.maps.Polyline({   strokeColor: '#CC0099',
         strokeOpacity: 1.0,   strokeWeight: 3,   geodesic: true,   map: map
         });

         polyTable[0] = new google.maps.Polyline({
           strokeColor: '#FF0000',
           strokeOpacity: 1.0,
           strokeWeight: 3,
           map: map,
         });

         geodesicPoly2 = new google.maps.Polyline({
           strokeColor: '#CC0099',
           strokeOpacity: 1.0,
           strokeWeight: 3,
           geodesic: true,
           map: map
         });
          ///// Usuwanie paragrafów //
        
          for(var i=2;i<11;i++){
            hideParagrafs(i);
           
            }

        update();
       }
          function createNewPath(map){

                 polyPath = new google.maps.Polyline({
                 strokeColor: '#4CAF50',
           strokeOpacity: 1.0,
           strokeWeight: 3,
            map : map,
         });
                 return polyPath;
          }


         function placeMarkerAndPanTo(latLng, map) {
           var marker = new google.maps.Marker({
           position: latLng,
           map: map,
           draggable: true,
           label: labels[labelIndex++ % labels.length]
         });

         markers.push(marker);




                google.maps.event.addListener(marker, 'position_changed', update);
                google.maps.event.addListener(map,'click', update);
                
                addElement(markers.length,marker);
              

        }

         function addPoint(marker){
         markers.push(marker);
                 google.maps.event.addListener(marker, 'position_changed', update);
                 google.maps.event.addListener(map,'mouseover', update);
                 addElement(markers.length,marker);

                 
         }


         function distance(point1,point2,i){

                 var distance = google.maps.geometry.spherical.computeDistanceBetween(point1, point2)/ 1000;
                 distanceBetweenPoints[i]= Round(distance,2);
                 return distance;
         }
         // Szukaj miejscowowci po kodzie np. EPZP/Poznan
         function geocodeAddress(geocoder, resultsMap) {
         var address = document.getElementById('address').value;

         geocoder.geocode({'address': address}, function(results, status) {
           if (status === 'OK') {
             resultsMap.setCenter(results[0].geometry.location);

              var marker = new google.maps.Marker({
               map: resultsMap,
               position: results[0].geometry.location,
                draggable: true,
               label: labels[labelIndex++ % labels.length]
             });
                         //console.log(results[0].geometry.location);
            // placeMarkerAndPanTo(results[0].geometry.location,resultsMap);
             //tableOfPaths.push(createNewPath(resultsMap));
             addPoint(marker);
             tableOfPaths.push(createNewPath(resultsMap));
           } else {
             alert('Geocode was not successful for the following reason: ' + status);
           }
         });

     }



   

// Zaokraglanie liczby 
 function Round(n, k)
 {
     var factor = Math.pow(10, k);
     return Math.round(n*factor)/factor;
 }

//Chowanie punktow wspolrzednych oraz katow
function hideParagrafs(number){

    $("#ppos"+number).hide();
    $("#pangle"+number).hide();
  }


//"Pokazywanie" punktow wspolrzednych oraz katow
function showParagraf(number){
    $("#ppos"+number).show();
   $("#pangle"+number).show();
}


function update() {
 
         var paths = [];
         if(markers!=""){
         var lat = markers[0].getPosition();

         
         for(var i = 1;i<markers.length;i++){
                 paths[i]=[markers[i-1].getPosition(),markers[i].getPosition()];
                 tableOfPaths[i].setPath(paths[i]);
                 distance(markers[i-1].getPosition(),markers[i].getPosition(),i);
                  document.getElementById('id_position'+markers.length).value= Round(markers[i].position.lat(), 2) + " "+Round(markers[i].position.lng(), 2)  ;
           }
       




// ====Petla odpowiedzialna za wyliczanie kątów w UPDATE + wpisanie ich do formularza
         if(markers.length >1 ){
           for(var i = 1;i<markers.length;i++){
           headings[i] = google.maps.geometry.spherical.computeHeading(markers[i-1].getPosition(),markers[i].getPosition());
           
           }
          for(var i = 1;i<headings.length;i++){
                   addAngle(i);
              }
         }}

          showParagraf(markers.length);

       }


/// ================funkcje odpowiedzialne za slidery predkosci samolotu oraz wiatru
function valueFromSpeedSlider(){
     var x = document.getElementById("mySpeedRange");
     var currentVal = x.value;
document.getElementById("id_plane_speed").value = currentVal;
}

function valueFromWindSlider(){
     var x = document.getElementById("myWindRange");
     var currentVal = x.value;
document.getElementById("id_wind_speed").value = currentVal;

} 

function valueFromWindAngleSlider(){
     var x = document.getElementById("myWindAngleRange");
     var currentVal = x.value;
document.getElementById("id_wind_angle").value = currentVal;
///======================================================================
}

//==========funkcje odpowiedzialne za wykrywanie lokalizacji danego obszaru
function initialize() {
  geocoder = new google.maps.Geocoder();
}


//Szukanie miejscowosci po wspolrzednych
function codeLatLng(lat,lng) {
  var latlng = new google.maps.LatLng(lat, lng);
  geocoder.geocode({latLng: latlng}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[1]) {
        var arrAddress = results;
        //console.log(results);
        $.each(arrAddress, function(i, address_component) {
          if (address_component.types[0] == "locality") {
           // console.log("City: " + address_component.address_components[0].long_name);
            itemLocality = address_component.address_components[0].long_name;
            console.log("tutja"+ itemLocality)
            tableOfCities.push(itemLocality);
          }
        });
      } else {
        
      }
    } else {
      
    }
  });
}






///============================
  function addElement(number,marker) {

    document.getElementById('id_position'+number).value= Round(marker.position.lat(), 2) + " "+Round(marker.position.lng(), 2)  ;
   }


// Dodawanie kata do formularza
function addAngle(number) {
      document.getElementById('id_angle'+(number)).value= Round(headings[number],2);
    if(headings[number]>-180&&headings[number]<0){
     document.getElementById('id_angle'+(number)).value= Round(headings[number]+360,2);
    }
}




     </script>





     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk3JKCeEEd6pUmMo27qAw5b1GBnZDU04I&
 libraries=geometry&callback=initMap"
     ></script>
  



{% endblock %}



