
{% extends 'szybowce/base.html' %}

{% block content %}
    <div class="route">
        {% if route.published_date %}
            <div class="date">
                {{ route.published_date }}
            </div>
        {% endif %}
	<a class="btn btn-default" href="{% url 'route_edit' pk=route.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	<h1>{{ route.title }}</h1>
	<h3> Start: </h3>
	<p> {{ route.position1|linebreaksbr }}</p>
	<p> {{ route.position2|linebreaksbr }}</p>
	<p> {{ route.position3|linebreaksbr }}</p>
	<p> {{ route.position4|linebreaksbr }}</p>
	<p> {{ route.position5|linebreaksbr }}</p>
	<p> {{ route.position6|linebreaksbr }}</p>
	<p> {{ route.position7|linebreaksbr }}</p>
	<p> {{ route.position8|linebreaksbr }}</p>
	<p> {{ route.position9|linebreaksbr }}</p>
        <h3> Koniec: </h3> 
	<p> {{ route.position10|linebreaksbr }}</p>


</div>
{% endblock %}

